
  <title>Cars</title>

<div class="container">
<nav class="navbar navbar-expand-sm bg-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Login</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="input">POST</a>
    </li>
    {{!-- drop-down portion --}}
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Communities
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="cars">Cars</a>
        <a class="dropdown-item" href="electronics">Electronics</a>
        <a class="dropdown-item" href="jobs">Housing</a>
        <a class="dropdown-item" href="housing">Jobs</a>
      </div>
    </li>
  </ul>

</nav>
</div>

<br/>

 <div class="container">
   <div class="col-md-12">
    <div class="card" style="width: 80rem;">
      {{#each data}}
  <ul class="list-group list-group-flush">

    <li class="list-group-item">{{this.post_title}} </li>
    <small class="text-muted">
    <li class="list-group-item">{{this.post_body}} </li>
    </small>
  
  </ul>
 
{{/each}}
</div>
</div>
