<nav class="navbar navbar-expand-sm bg-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/">Login</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/index">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="font-family: 'Pacifico', cursive; color: white;" href="/input">Post Listing</a>
    </li>
    {{!-- drop-down portion --}}
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" style="font-family: 'Pacifico', cursive; color: white;" data-toggle="dropdown">
        Communities
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/community/1">Cars</a>
        <a class="dropdown-item" href="/community/2">Electronics</a>
        <a class="dropdown-item" href="/community/3">Housing</a>
        <a class="dropdown-item" href="/community/4">Jobs</a>
      </div>
    </li>
  </ul>

</nav>

<div id="postContainer" class="container">
  <h2 id="postHeader">Send a message to the seller.</h2>
  <p id="postHeader2">Fill in the following fields to email the seller via Gregslist.  Please be sure to include your email in the body of the your message!</p>
 <div class="row justify-content-center">
  <form id="postForm">

    <div  class="form-group">
      <label for="post_title">Subject:</label>
      <input type="text" class="form-control" placeholder="New Post" id="email_subject" >
    </div>
 <div class="form-group">
  <label for="post_body">Body:</label>
  <textarea class="form-control" rows="2" id="email_body" placeholder="Description of post"></textarea>
</div>

  <div class="form-group">
 <button id="send_email" type="submit" value= "{{data.post_email}}" class="btn btn-primary btn-block">Send</button>
</div>

 </div>
  



   
  </form>


</div>
