<h1 class="display-4" style="text-align: center">Posts</h1>

<div class="jumbotron" >
    
<br/>
    <div class="col-md-12" >
        <h1 style="color: white">Communities</h1>
    <div class="card" style="width: 80rem;">
      {{#each data}}
  <ul class="list-group list-group-flush">

    
    {{this.community_name}} 
      
    <li class="list-group-item">{{this.post_title}} </li>
    <li class="list-group-item">{{this.post_body}} </li>
  
  </ul>
 
  {{/each}}
  </div>
</div> 


