{{!-- <h1 class="d-inline p-2 bg-primary text-white">Create A Login</h1>

<form class="update-form">

    <textarea id="newUser" rows="1" cols="40" placeholder="Username"></textarea>
    <br/>
    
    <textarea id="userPassword" rows="1" cols="40" placeholder="Password"></textarea>

    <button class="submitLogin">Create Login</button>
</form> --}}

<!-- Button to open the modal login form -->
<button onclick="document.getElementById('ulog').style.display='block'">Login</button>

<!-- The Modal -->
<div id="ulog" class="modal">
  <span onclick="document.getElementById('ulog').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container">
      <button type="button" onclick="document.getElementById('ulog').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="">password?</a></span>
    </div>
  </form>
</div>



<script>
// Get the modal
var modal = document.getElementById('ulog');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>