{{!-- <h1 class="d-inline p-2 bg-primary text-white">Create A Login</h1>

<form class="update-form">

    <textarea id="newUser" rows="1" cols="40" placeholder="Username"></textarea>
    <br/>
    
    <textarea id="userPassword" rows="1" cols="40" placeholder="Password"></textarea>

    <button class="submitLogin">Create Login</button>
</form> --}}

<!-- Button to open the modal login form -->
<button onclick="document.getElementById('ulog').style.display='block'">Register</button>

<button onclick="document.getElementById('login').style.display='block'">Login</button>

<!-- The Modal -->
<div id="ulog" class="modal">
  <span onclick="document.getElementById('ulog').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">username</label>
    <input type="email" class="form-control" id="newUsername" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="thePassword" placeholder="Password">
  </div>
  <button id="createUser" class="btn btn-primary">Submit</button>
</form>
  </form>
</div>

<!-- The Modal -->
<div id="login" class="modal">
  <span onclick="document.getElementById('login').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">username</label>
    <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="userpassword" placeholder="Password">
  </div>
  <button id="loginexistinguser" class="btn btn-primary">Submit</button>
</form>
  </form>
</div>