<div id="loginBR" class="container">

        <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                        <div id="gregsHeader">
                                <h1 id="gregsTitle">Gregslist</h1>
                                <p id="sub">-- the most exclusive marketplace in the galaxy --</p>
                                
                                
                                </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
        <div class="row">
        <div class="col-sm-3">.</div>
        <div class="col-sm-6">
                <div class="mainPageButtons">
                     <div class="row">
                        <div class="col-sm-4"></div>
                             <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary"onclick="document.getElementById('ulog').style.display='block'"> SIGN IN </button>
                             </div>
                             <div class="col-sm-2">
                                        <button type="button" class="btn btn-secondary">REGISTER</button>
                                </div>
                        <div class="col-sm-4"></div>

                     </div>
                        
                        </div>
        </div>
        <div class="col-sm-3"></div>
        </div>
              




</div>

<!-- Button to open the modal login form -->


<!-- The Modal -->
<div id="ulog" class="modal">
  <span onclick="document.getElementById('ulog').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">username</label>
    <input type="email" class="form-control" id="newUsername" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="thePassword" placeholder="Password">
  </div>
  <button id="createUser" class="btn btn-primary">Submit</button>
</form>
  </form>
</div>

<!-- The Modal -->
<div id="login" class="modal">
  <span onclick="document.getElementById('login').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" method="POST">
    <div class="imgcontainer">
      <img src="" alt="Avatar" class="avatar">
    </div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">username</label>
    <input type="email" class="form-control" id="useremail" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="userpassword" placeholder="Password">
  </div>
  <button id="loginexistinguser" class="btn btn-primary">Submit</button>
</form>
  </form>
</div>